<div id="supportedFilesModal" class="modal-overlay">
    <div class="modal-content">
        <button class="modal-close" aria-label="Close">&times;</button>

        <div class="">
            <h4 class="mb-3 text-center">Supported file formats</h4>
            <div class="file-types">
                <span class="file-type-badge">.JPG</span>
                <span class="file-type-badge">.PNG</span>
                <span class="file-type-badge">.GIF</span>
                <span class="file-type-badge">.BMP</span>
                <span class="file-type-badge">.HEIC</span>
                <span class="file-type-badge">.MP4</span>
                <span class="file-type-badge">.MOV</span>
                <span class="file-type-badge">.TXT</span>
                <span class="file-type-badge">.PDF</span>
                <span class="file-type-badge">.RTF</span>
                <span class="file-type-badge">.DOCS</span>
                <span class="file-type-badge">.ZIP</span>
                <span class="file-type-badge">etc...</span>
            </div>
        </div>
    </div>
</div>
