<div class="modal fade" id="whatHappensNextModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <h6 class="modal-title">What happens next?</h6>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">
        <div class="card mb-0" style="max-width:100%;">
          <div class="card-body">
            <ul class="text-start mb-0">
              <li>Once you read this note, it will be permanently deleted</li>
              <li>The link will no longer work for anyone (including you)</li>
              <li>The content cannot be recovered after reading</li>
              <li>This action cannot be undone</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>

    </div>
  </div>
</div>
